<div class="row">
    <div class="col">
        <h4 class="mb-3" *ngIf="!itemsForm.value.id">Incluir item</h4>
        <h4 class="mb-3" *ngIf="itemsForm.value.id">Atualizar item:</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div [formGroup]="itemsForm" (ngSubmit)="save()">
            <p *ngIf="itemsForm.value.id" class="item-identifier">
                ID: <span>{{itemsForm.value.id}}</span>
            </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
                <button class="btn btn-outline-secondary" type="button" id="save" (click)="save()">Salvar</button>
            </div>
            <div *ngIf="!itemsForm.valid && itemsForm.touched" class="alert alert-danger alert-dismissible fade show"
                role="alert">
                Insira um nome válido.
                <button type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <app-item-list #itemList (clickedItem)="clickOnItem($event)"
            (deletedItem)="compareDelete($event)"></app-item-list>
    </div>
</div>